@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,700;1,200&display=swap');

body{
/* Qui viene impostato il font di testo predefinito per il corpo (body) del documento HTML. */
    font-family: 'Urbanist', sans-serif;
}
a{
    text-decoration:none;
    color:currentColor;
}
a.hover{
    color:currentColor;
}
header{
    width:100vw;
    height:50px;
    background-color:#fff;
    box-shadow:0px 3px 8px rgba(0, 0, 0, 25%);
}


.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler.active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow:none;
    border:0;
}

.navbar-toggler span {
    margin:0;
    padding: 0;
}

.toggler-icon{
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background: #263971;
    border-radius:1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition:.25s ease-in-out;
}
.middle-bar{
    margin-top:0px;
}
.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity:0;
    filter:alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-bottom: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter:alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-bottom: -20px;
    transform: rotate(0deg);
}
